<mat-sidenav-container class="sidenav-container">
  <!-- Menú lateral (solo visible en móviles) -->
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="closeSidenav()">Inicio</a>
      <a mat-list-item routerLink="/product-list" (click)="closeSidenav()">Productos</a>

      <ng-container *ngIf="!isLoggedIn">
        <a mat-list-item routerLink="/login" (click)="closeSidenav()">Login</a>
      </ng-container>

      <ng-container *ngIf="isLoggedIn">
        <a mat-list-item routerLink="/cart" (click)="closeSidenav()">Carrito</a>
        <a mat-list-item routerLink="/orders" (click)="closeSidenav()">Mis pedidos</a>

        <ng-container *ngIf="isAdmin">
          <button mat-button routerLink="/product-add">Agregar producto</button>
          <button mat-button routerLink="/category-list">Categorías</button>
          <button mat-button routerLink="/category-add">Nueva categoría</button>
          <button mat-button routerLink="/users">Usuarios</button>
        </ng-container>
        

        <a mat-list-item (click)="logout()">Salir</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Barra superior -->
  <mat-toolbar class="mat-elevation-z4 toolbar-green">
    <!-- Botón hamburguesa solo en móviles -->
    <button mat-icon-button class="hide-desktop" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="app-title" routerLink="/home">C-Natural</span>
    <span class="spacer"></span>

    <!-- Menú horizontal (solo visible en escritorio) -->
    <div class="hide-mobile">
      <button mat-button routerLink="/home">Inicio</button>
      <button mat-button routerLink="/product-list">Productos</button>

      <ng-container *ngIf="isLoggedIn">
        <button mat-button routerLink="/cart">Carrito</button>
        <button mat-button routerLink="/orders">Mis pedidos</button>

        <ng-container *ngIf="isAdmin">
          <button mat-button routerLink="/product-add">Agregar producto</button>
          <button mat-button routerLink="/category-list">Categorías</button>
          <button mat-button routerLink="/category-add">Nueva categoría</button>
          <button mat-button routerLink="/users">Usuarios</button>
        </ng-container>

        <button mat-button (click)="logout()">Salir</button>
      </ng-container>

      <ng-container *ngIf="!isLoggedIn">
        <button mat-button routerLink="/login">Login</button>
      </ng-container>
    </div>
  </mat-toolbar>
</mat-sidenav-container>
