/* category-add.component.css */
.category-form-container {
  padding: 100px 16px;
  display: flex;
  justify-content: center;
}

.form-card {
  padding: 24px;
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
}

.full-width {
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
